.\#*
.*cache
.DS_Store*
*.egg*
.idea/
*.log
.m2
*.o
*.so
*.py[cod]
.ssh/
*.swp
.tox/
.venv*/
.vscode/
.*version

*~
\#*#
_Dockerfile*
__pycache__/
build/
dist/
venv/
ehthumbs.db
Icon?
Thumbs.db
out/

database.db
database.db-shm
database.db-wal

.nicegui/**
.env
client_secret_*
credentials.json

copy_db_from_prod.sh
