fastapi
nicegui>=2.11.1
# niceguicrud  # Using a fork for now and we'll see if I can get that merged upstream
niceguicrud @ git+https://github.com/jsjeannotte/nicecrud.git@main
bcrypt
sqlmodel
alembic
psycopg
pydantic-settings
pydantic[email]
pydantic_extra_types
phonenumbers
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
Authlib
python-jose[cryptography]
