fastapi
nicegui
# niceguicrud
# -e vendor/nicecrud
bcrypt
sqlmodel
alembic
psycopg
pydantic-settings
pydantic[email]
pydantic_extra_types
phonenumbers
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
