fastapi
nicegui
niceguicrud
# niceguicrud @ git+https://github.com/jsjeannotte/nicecrud.git@main
bcrypt
sqlmodel
alembic
psycopg
pydantic-settings
pydantic[email]
pydantic_extra_types
phonenumbers
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
Authlib
python-jose[cryptography]
